/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f3f95; /* Updated to a blue background */
    color: #fff; /* Change text color to white for better contrast */
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #333;
    color: #ffd700;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

header p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

header a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* Main Section Styling */
section {
    background-color: #333; /* Darker background for sections */
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ffd700;
    margin-bottom: 15px;
    font-size: 1.8em;
    border-bottom: 2px solid #ffd700;
    padding-bottom: 10px;
}

/* Education Section Styling */
#education p {
    margin-bottom: 10px;
}

/* Skills Section Styling */
#skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skills li {
    background-color: #444;
    color: #ffd700;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#skills li:before {
    content: '✔️';
    margin-right: 10px;
}

/* Experience Section Styling */
#experience p {
    margin-bottom: 10px;
}

/* Projects Section Styling */
#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    margin-bottom: 10px;
}

#projects a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

#projects a:hover {
    text-decoration: underline;
}
